<!DOCTYPE html>
<html lang="en">
    <link href="style.css" rel="stylesheet" type="text/css" />
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Интернет-магазин</title>
</head>
<body>
    <!-- Шапка -->
    <header>
        <h1>Магазин одежды SOUL</h1>
        <nav>
            <div>
                <a href="/">Главная</a>
                <a href="/closes/">Одежда</a>
                <a href="/foot/">Обувь</a>
                <a href="/jacket/">Куртки</a>
            </div>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Интернет-магазин. Все права защищены.</p>
    </footer>
</body>
</html>
